<div class="hero" style="width: 100%">
<h1 class="title"><%= @collection.name.upcase %></h1>
  </div>
</div>
<div class="container mt-0" >
  <div class="container-fluid" style="width: 100%">
    <!-- <hr style="width: 95%"> -->
      <div class="card-delete mx-2 d-flex justify-content-end">
              </div>
        <div class="back">
        <%= link_to '<< Back', profile_path, class: 'link-color ml-4' %>
        </div>

        <div class="mx-auto my-3" id="gallery" style=" display: none; width: 100%">
        <% @pins.each do |pin| %>
            <% pin.meal.mealphotos.each do |mealphoto| %>
              <%= link_to cl_image_tag(mealphoto.photo, alt:"<div class=\"d-flex justify-content-between\">
              <div><p class='index-rating my-auto' style='font-weight: lighter;'> #{pin.meal.check_rating(pin.meal.average_rating)} #{pin.meal.display_rating_count(pin.meal.reviews.count)}</p></div>

              </div>
              <p class='my-auto' style='font-weight: lighter;'>#{pin.meal.name} <br>@#{pin.meal.restaurant.name}</p>", ), meal_path(pin.meal) %>
            <% end %>
        <% end %>
        </div>
      </div>
  </div>
</div>
<!-- END CARDS INDEX -->
    <script type="text/javascript">
      $(document).ready(function(){
        $("#gallery").unitegallery({
          gallery_theme: "tiles",
          gallery_width:"100%",
          tiles_col_width: 150,
          gallery_min_width: 150,       //gallery minimal width when resizing
          tile_textpanel_appear_type: "fade",
          tile_enable_icons: false,
          tile_overlay_opacity:0.3,
          tile_show_link_icon: false,
          tile_as_link: true,
          tiles_min_columns: 1,         //min columns
          tiles_max_columns: 3,
          tile_image_effect_type:"sepia",
          tile_image_effect_reverse:true,
          tile_enable_textpanel:true,
          lightbox_textpanel_title_color:"e5e5e5",
          tiles_space_between_cols:20,
          tile_enable_textpanel: true,     //enable textpanel
          tile_textpanel_source: "title",
          tile_textpanel_title_text_align: null,   //cut some space for text from right
          tile_textpanel_padding_left: 20,
        });
      });
    </script>

<!-- pin.meal.restaurant.name -->

      <!-- cl_image_tag pin.meal.mealphotos[0].photo -->

        <!-- pin.meal.name -->
