// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #f84e41;
$yellow: #F0C808;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$dark-gray: #352D39;
$dark-title: #383834;
$p-gray: #65655E;
$primary: #f84e41;
$primary-light: #e26757;
$very-light-gray: #FAFAFA;



