#banner {
  background-image: linear-gradient(rgba(0,0,0,0.01),rgba(0,0,0,0.01)), asset_url('background.jpeg');
}

.banner {
  background-size: cover;
  background-position: center;
   height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  color: white;
  margin-bottom: 0;
  p {
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 3px;
    opacity: 0.9;
  }
}

.buttons-bundle {
  // position: absolute;
  // top: 500px;
  margin: auto;
  margin-bottom: 150px;
  // padding-top: 50px;
  display: flex;
  // flex-direction: column;
  justify-content: center;
    p {
      color: white;
    }
}

.meals {
  padding: 10px;
  max-width: 1000px;
  margin-top: 90px;
  height: 470px;
  display: flex;
  flex-flow: column wrap; /* Shorthand – you could use ‘flex-direction: column’ and ‘flex-wrap: wrap’ instead */
  justify-content: flex-start;
  align-items: flex-start;
}



.item {
  height: 150px;
  width: 31%;
  // margin: 1%;
  padding: 10px;
  p{
    position:absolute;
  }
}

.item:nth-child(2) {
  height: 250px;
}

.item:nth-child(3) {
  height: 190px;
}

.item:nth-child(4) {
  height: 220px;
}

.item:nth-child(5) {
  height: 300px;
}


.mealimage{
  width:100%;
  height:auto;
}

.form-container {
 background-color: white;
 height: 380px;
 border-radius: 6px;
 min-width: 360px;
 opacity: .8;
}

.form-container-header {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  border-radius: 6px;
  color: black;
}

.form-container-search {
  height: 220px;
  padding: 15px;
  border-radius: 6px;
}


.search-meal-form {
  padding: 10px;
}

.search-meal-form-2 {
  margin-top: 20px;
  margin-bottom: 25px;
}

#location {
  background-color: #F5F5F5
}

#query {
  background-color: #F5F5F5
}

.home-button {
opacity: 1;
background-color: #eb4a3d !important;
border: none;
  &:hover{ background-color: #f64e41 !important;
            border: none;

  }
}

.fixed-top {
  position: absolute !important;

}


