
.container-profile {
  width: 950px;
  margin: 110px auto 0;
  background-color: #ffffff;
  box-shadow: 0 3px 15px rgba(0, 0, 0, .14);
  color: gray;
  text-align: center;
  font-size: 16px;
}

.container-profile .profile-header {
  position: relative;
  height: 100px;
}


.container-profile .profile-header .img {
  height: 160px;
  width: 160px;
  border-radius: 1000px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 6px solid white;
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.container-profile .profile-body {
  padding: 0px 75px;
  margin-bottom: 35px;
}

.container-profile .profile-name {
  font-size: 35px;
  text-transform: uppercase;
  margin: 0 0 0;
  color: #352D39;
}

.container-profile .location {
  font-size: 15px;
  margin-bottom: 2px;
}

.container-profile .about {
  font-size: 15px;
  margin: 25px 45px 0;
}

.container-profile .profile-footer{
  width: 90%;
  margin: 10px auto 50px;
  padding: 10px 0 30px;
}


.carousel-inner {
  height: 270px;
  object-fit: cover;
}

.link-color {
  color: gray;
    &:hover {
      text-decoration: none;
      color: #e26757;
    }
}

.card-info a {
  color: black;
  font-size: 20px;
    &:hover {
      text-decoration: none;
      color: #e26757;
    }
}

.formbtn {
  width: 100%;
  padding: 10px;
  background-color: #eb4a3d;
  text-decoration: none;
  color:white;
  border-radius: 10px;
    &:hover{
      background-color: #f84e41;
    }
}
.card-info p {
  color: gray;
  font-size: 13px;
}

.profile-card {
  width: 750px;
  margin: auto;
  display: flex;
  height: auto;
  background-color: white;
  margin-bottom: 30px;
  margin-top: 30px;
}


.avatar-container {
  width: 30%;
  display: column;
}



@media screen and (max-width) {
  .container-profile {
    width: 96%;
  }
  .profile-body {

  }

}
