
.container-profile {
  width: 800px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  margin-bottom: 100px;
}
.carousel-inner {
  height: 300px;
  object-fit: cover;
}

.link-color {
  color: gray;
    &:hover {
      text-decoration: none;
      color: #e26757;
    }
}

.card-info a {
  color: black;
  font-size: 20px;
    &:hover {
      text-decoration: none;
      color: #e26757;
    }
}

.formbtn {
  width: 100%;
  padding: 10px;
  background-color: #eb4a3d;
  text-decoration: none;
  color:white;
  border-radius: 10px;
    &:hover{
      background-color: #f84e41;
    }
}
.card-info p {
  color: gray;
  font-size: 13px;
}

.profile-card {
  width: 750px;
  margin: auto;
  display: flex;
  height: auto;
  background-color: white;
  // justify-content: space-between;
  margin-bottom: 30px;
  margin-top: 30px;
  // box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
.ava {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: center;
  align-item: center;
  margin: auto;
  text: center;

}

.avatar-container {
  // box-shadow: 1px;
  // background-color: white:
  // border: 0.5px solid #E0E2E5;
  width: 30%;
  display: column;
  // justify-content: start;
}

.avatar-info {
  width: auto;
}


