#credits {
  text-align: center;
  font-size: 12px;
  font-weight: lighter;
  color: gray;
    &:hover {
      text-decoration: none;
      color: gray;

    }
}

a #credits {
  text-align: center;
  font-size: 12px;
  font-weight: lighter;
  color: gray;
    &:hover {
      text-decoration: none;
      color: gray;

    }
}

.simple_form.new_meal {
  width: 55%;
  margin-bottom: 30px;
}

//  .filter-form span.select2-selection {
//     width: 119%;
// }
