#credits {
  text-align: center;
  font-size: 12px;
  font-weight: lighter;
  color: gray;
    &:hover {
      text-decoration: none;
      color: gray;

    }
}

a #credits {
  text-align: center;
  font-size: 12px;
  font-weight: lighter;
  color: gray;
    &:hover {
      text-decoration: none;
      color: gray;

    }
}

.simple_form.new_meal {
  width: 55%;
}
