
.filter-container{
  width: 100%;
  background-color: rgba(244, 240, 240, 0.500);
  height: 50px;
  margin: 20px;
}

.form-checkboxes {
  column-count: 3;
  text-align: justify;
}

.form-checkboxes-2 {
  column-count: 2;
  text-align: justify;
}

.form-checkboxes-4 {
  column-count: 4;
  text-align: justify;
}

.meal-form-body {
    background-image: linear-gradient(rgba(0,0,0,0.01),rgba(0,0,0,0.01)), asset_url('tomato-bread.jpeg');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 90vh;
}


// .banner-new-meal {
//   background-position: left;
//   height: 100vh;
// }

.form-right {
  color: black;
  border: none;
}

.meal_cuisine_meal_tags>legend {
    display: none;
}

.meal_diet_meal_tags>legend {
    display: none;
}

.meal_meal_type_tags>legend {
    display: none;
}

.style {
  opacity: .8;
}
