
.filter-container{
  width: 100%;

}
// .nav-tabs {
//   width: 100%;
//   background-color: rgba(244, 240, 240, 0.500);
//   margin-top: 20px;

// .nav-tabs {
//   width: 100%;
//   background-color: rgba(244, 240, 240, 0.500);
//   margin-top: 20px;

// }

.nav-tabs-reviews {
  width: 100%;
  background-color: white;
  margin-top: 20px;
  overflow-y: scroll;
  height: 500px;

}


.form-checkboxes {
  column-count: 3;
  text-align: justify;
}

.form-checkboxes-2 {
  column-count: 2;
  text-align: justify;
}

.form-checkboxes-4 {
  column-count: 4;
  text-align: justify;
}

.form-checkboxes-6 {
  column-count: 6;
  text-align: justify;
}

.meal-form-body-new {
    background-image: linear-gradient(rgba(0,0,0,0.01),rgba(0,0,0,0.01)), asset_url('tomato-bread.jpeg');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 90vh;
}

.meal-form-body-edit {
    background-image: linear-gradient(rgba(0,0,0,0.01),rgba(0,0,0,0.01)), asset_url('tomato-bread.jpeg');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 90vh;
}


// .banner-new-meal {
//   background-position: left;
//   height: 100vh;
// }

.form-right {
  color: black;
  border: none;
}

.meal_cuisine_meal_tags>legend {
    display: none;
}


.link {

  color: #a6a6a6;
  text-decoration: none;
}

.fa-star {
  color: #F9EA3E;

}

.fa-edit {
  color: #a6a6a6;
  text-decoration: none;
  &:hover {
      text-decoration: none;
      color:black;
    }
}

.fa-trash {
  color: #a6a6a6;
  text-decoration: none;
  &:hover {
      text-decoration: none;
      color:black;
    }
}

.review {
  width: 100%;
  background-color: rgba(244, 240, 240, 0.500);
  padding: 15px;
  margin-bottom: 20px;
}

.badge {
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  margin: 13px;

}

.avatar-review {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);

}


.row-title p {
  font-size: 25px;
  font-weight: normal;

}

.cards-resto {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards-resto {
    grid-template-columns: 1fr 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards-resto {
    grid-template-columns: 1fr 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards-resto {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards-resto {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards-resto {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.cards-resto img {
  width: 100%;

}


.row-title-resto p {
  font-size: 12px;

}

.carousel-inner{
  // margin-top: 30px;

}

.tab-pane {
  text-align: center;

}

.container-fluid {
  padding: 0px;
  margin: 0px;
}

@media (max-width: 750px) {
  .container-pagemover {
  padding: 12px !important;
  margin: 12px !important;
  }
}

// .rate-5 {
//   font-weight: bold;
//   color: #FFB40F
// }

// .rate-4{
//   color: green;
// }

// .rate-3 {
//   color: #b8ed55;
// }

// .rate-2 {
//   color: #ffe100;
// }

// .rate-1 {
// color: #e83200;
// }


.meal_diet_meal_tags>legend {
    display: none;
}

.meal_meal_type_tags>legend {
    display: none;
}

.style {
  opacity: .8;
}

.cuisine-list {
  height: 210px;
}

.diet-list {
  height: 100px;
}

.meal-list {
  height: 60px;
}

.filter-checkboxes {
  display: flex;
  justify-content: space-between;
}

.index-rating {
  font-size: 10px;
}

.index-font {
  font-size: 12px;
}

.index-heart {
  color: red;
  font-size: 16px;
  a {
     text-decoration: none;
    color: red;
    font-size: 16px;
  }
  a:hover {
    text-decoration: none;
    color: red;
    font-size: 16px;
  }
}

.index-heart-toggle {
  color: red;
  font-size: 16px;
    a {
     text-decoration: none;
    color: red;
    font-size: 16px;
  }
  a:hover {
    text-decoration: none;
    color: red;
    font-size: 16px;
  }
}
// <i class='fas fa-heart'></i>
// Padding changes depend on devices

@media (min-width: 992px) {
  .col-md-8 {
    padding-right: 50px;
    // updated from 100px
  }
}

@media (max-width: 750px) {
  .row {
    margin: 12px;
    padding: 12px;
  }

  .no-margin {
    margin: 0 !important;
    padding: 0 !important;
  }
}

.cuisine-taggy {
  font-weight: lighter;
  color: black;
    &:hover {

    text-decoration: none;
    }

}

// buttons

.loopicon-review {
  width: 165px;
  color: white;
  border:none;
  background-color: #eb4a3d;
  border-radius: 10px;
  padding: 5px;
  height: 40px;
  &:hover{
      background-color: #f84e41;
  }
}

.cuisine-taggy {
  background-color: #FFFFFF;
  border-width: 1px;
  border-radius: 5px;
  border-style: solid;
  overflow: hidden;
  text-align: center;
  border-color: #d1d1d1;
  text-transform: capitalize;
  transition: border-color .1s ease-in-out;
}

.btn-hover {
  color: rgba(0, 0, 0, .5);
  transition: all .25s ease;
}

.btn-hover:hover {
  color: black;
  border-color: black;
}

.carousel-inner {

  height: 100% !important;
}

// simple_form_for

// #review_content {
//   background-color: #FFFFFF;
//   border-width: 1px;
//   border-radius: 5px;
//   border-style: solid;
//   overflow: hidden;
//   text-align: center;
//   border-color: #d1d1d1;
//   transition: border-color .1s ease-in-out;
//   width:80%;
//   overflow:hidden;
//   background-color:#FFF;
//   color:#222;
//   font-family:Courier, monospace;
//   font-weight:normal;
//   font-size:24px;
//   resize:none;
//   line-height:40px;
//   padding-left:100px;
//   padding-right:100px;
//   padding-top:45px;
//   padding-bottom:34px;
//   background-image:url(https://static.tumblr.com/maopbtg/E9Bmgtoht/lines.png), url(https://static.tumblr.com/maopbtg/nBUmgtogx/paper.png);
//   background-repeat:repeat-y, repeat;
//   // -webkit-border-radius:12px;
//   border-radius:12px;
//   // -webkit-box-shadow: 0px 1px 5px #000;
//   box-shadow: 0px 1px 5px #000;
//   border-top:1px solid #FFF;
//   border-bottom:1px solid #FFF;
// }


.ug-thumb-wrapper{
  border-radius: 8px;
}

.container-show-card {
  width: 90%;
  margin-top: 20px;
  margin-bottom: 40px;
  background-color: #ffffff;
  box-shadow: 0 3px 15px rgba(0, 0, 0, .14);
  color: #696969;
  font-size: 16px;
}

.review-submit {
  border: orange;
  border-radius: 4px;
}

.card-body-new-collection {
    padding: 0px;
}

#new_collection {
  display: contents;
}

.instagram-container {
  height: 600px;
}

.other-meals-container {
  height: 600px;
  width: 200px;
  padding: 20px;
}

.restaurant-name-container {
  width: 420px;
  height: 50px;
  margin-bottom: 20px;
}

