
<!-- BACKGROUND -->

<div class="banner d-flex align-items-end justify-content-center flex-column" id="banner">




<!-- NAVBAR -->
<!--  END OF THE NAVBAR -->

<!-- CARD HOME PAGE (ENTER LOCATION AND MEAL(OPTIONAL) -->

  <div class="homeform">

 </div>




