<div class="container">

  <h1 class='text-center' style="margin-top: 50px">Thank you for your interest!</h1>
  <h3 class='text-center' style="margin-top: 20px">We will reach out to you shortly about verifying your ownership of this restaurant.</h3>
</div>

<div class="text-center">
  <%= link_to 'Home',  root_path %>
  </div>
