#banner {
  background-image: linear-gradient(rgba(0,0,0,0.01),rgba(0,0,0,0.01)), asset_url('background.jpeg');
}

.banner {
  background-size: cover;
  background-position: center;
   height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  color: white;
  margin-bottom: 0;
  p {
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 3px;
    opacity: 0.9;
  }
}


.signupform {
  background-color: rgba(244, 240, 240, 0.500);
  margin-right: 20%;
  padding: 5%;
  width: 380px;
}

.linkstoother{
  margin-top: 10%;
  size:10%;
}


.nav-link-login {
      color: white !important;
      text-decoration: none !important;
      font-size: 10px !important;
      display: flex;
      flex-direction: column;
        &:hover{
          color: rgba(25, 25, 24, 0.760) !important;
          text-decoration: none !important;
          font-size: 10px !important;
          display: flex;
          flex-direction: column;
        }
    }


$color-primary: #ABA194;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page-footer {
    background-size: 200% 200% !important;
    // animation: move 10s ease infinite;
    // transform: translate3d(0, 0, 0);
    background: linear-gradient(180deg, #efefef, 100%);
    height: 45vh;
}


@keyframes NO {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

@keyframes arrive {
    0% {
        opacity: 0;
        transform: translate3d(0, 50px, 0);
    }

    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes move {
    0% {
        background-position: 0 0
    }

    50% {
        background-position: 100% 0
    }

    100% {
        background-position: 0 0
    }
}
