.user-data-container {
  color: black;
    background-color:  white;
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 100%;
}

.user-data-container-top {
  color: black;
    background-color:  white;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 8px;
    margin-left: 10px;
    width: 100%;
}

.user-data-title {
    background-color: rgba(244, 240, 240, 0.5);
    width: 70%;
    padding: 10px;
    margin-left: 25px;
    p {
      font-size: 14px;
    }
}

.user-data-data {
    background-color: rgba(244, 240, 240, 0.5);
    width: 15%;
    padding: 10px;
    margin-left: 25px;
    p {
      font-size: 14px;
    }
}

#resto_dashboard{
  margin-top: 10px;
  padding: 20px;
  &:hover{
    text-decoration: none;
    color:black;
    background-color: rgba(244, 240, 240, 0.650);
  }
}

.show_restos_icons{
  margin-left: 17%;
}

.resto_meal_reviews_card{
  display:flex;
  justify-content: space-between;
  margin-top: 10px;
  flex-direction:column;

  img{
    height: 500px;
    margin-bottom: 1%;
    max-width:300px;
  }
  .avatar-review {
    height:50px;
  }
}

.sponsor_btn{
  display: flex;
  justify-content: end;
}

#reviews-resto{
   overflow-y: scroll;

}

.resto_meal_reviews{
  overflow-y: scroll;
  width: 100%;

}

.title_resto_meal{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
}

.title-sponsor {
  display: flex;
  text-decoration: none;
  color: #696969;
    &:hover{
      text-decoration: none;
      color: black;
    }
  .form{
    margin-top: 4px;
  }
}

.img_m_review{
  height:200px;
}

.noreview{
  display:flex;
  height:100%;
  align-items: center;
  justify-content: center;
}
