<!--  CARDS INDEX -->

<div class="card-columns">
  <% @meals.each do |m| %>
    <% m.mealphotos.each do |mealphoto| %>
    <div class="card">
             <p> <%= m.name.strip %> </p>
    <%= cl_image_tag mealphoto.photo, class:"mealimage" %>


    <% end %>

<% end %>
</div>

<!-- END CARDS INDEX -->
