
<div class="d-flex justify-content-center my-5 py-5">
  <div class="card justify-content-center text-center align-items-column py-5" style="width: 600px">

      <h1>Find your restaurant</h1>

      <%= simple_form_for(@restaurant, html: { multipart: true }) do |f| %>


        <div class="form-inputs align-items-center m-auto pt-3 " style="width: 75%;">
                 <%= f.input :name,
                    label: false,
                    input_html: {class: "opacity-style"},
                    collection: Restaurant.all,
                    include_blank: 'Restaurant'%>
          <hr class="mx-auto mt-4 mb-3" style="width: 75%;">
          <div class="mx-auto my-3" style="width: 50%;">
          </div>
          <div class="submit-form-button">
          <%= link_to 'Submit restaurant',  restaurant_contact_path, class: "btn btn-outline-danger", id: "button2", style: "border-radius: 4px;" %>
          </div>
        </div>
      <% end %>
  </div>
</div>



