// .form-check-input.check_boxes.optional{
//   width:100px;
// }
.meal_cuisine_meal_tags{
  max-width: 400px;
}


.meal_diet_meal_tags{
  max-width: 400px;
}

.meal_meal_type_tags{
  max-width: 400px;
}
