
.link-color {
  color: gray;
  background-color: transparent;
  border: transparent;
    &:hover {
      text-decoration: none;
      color: #f84e41 !important;
    }
}

i .link-color {
  color: gray;
  background-color: transparent;
  border: transparent;
    &:hover {
      text-decoration: none;
      color: #f84e41 !important;
    }
}

.link-color-darker {
  color: $dark-gray;
    &:hover {
      text-decoration: none;
      color: $primary;
    }
}
