#map {
  position: fixed !important;
  margin-right: 5px !important;
}

/*style the box*/
.gm-style{
  width: 100% !important;
  height: 100% !important;
  min-height: 120px !important;
  padding-top: 10px;
  display: block !important;
}
