.modal-dialog-navbar {
 justify-content: center;
 align-items:center;
 margin-top: 15%;
margin-left: 40%;
text-align: center;

}

.modal-content-navbar {
  width: 300px;
 background-color: rgba(244, 240, 240, 0.500);
  margin-right: 40%;
  margin-top: 10%;
  padding: 5%;
}

.modal-content-filters {
  width: 800px;
  height: 650px;
  background-color: white;
  opacity: 1;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 75px;
  padding: 10px;
  border-radius: 6px;
}

.modal-body-filters {
  height: 600px;
  opacity: 1;
}

.modal-content-heart {
  border-radius: 4px;
  padding: 20px;
  width: 600px;
  max-height: 500px;
  min-height: 400px;
  background-color: white;
  opacity: 1;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 75px;
  overflow-y: scroll;
}

.collection-modal-container {
  overflow-y: scroll;
}

.add-collection {
  width: 100%;
}

#collection_name {
  flex-grow: 1;
}


// MULTISELECTOR

.mselect {
  text-decoration: none;
  text-align: center;
  color:black;
  display: inline-block;
  padding: 4px;
  margin-top: 4px;
  font-size: 14px;
  height: auto;
  width: 120px;
  background-color: white;
  border-radius: 10px;
  max-height:80px;
  overflow-y:scroll;
}

.mselect-opt {
  border: 1px solid #BBB;
  border-radius: 10px;
  color:black;
  padding: 10px;
  display:block;
  cursor:pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  &:hover{
    text-decoration: none;
    color: white;
    background-color: rgba(235, 74, 61, 1.000);
  }
}


.mselect-opt.selected {
  color:white;
  background-color:rgba(235, 74, 61, 1.000);
}

.mselect-opt a{
  text-decoration: none;
  color:black;
}

.mselect-opt i {
  text-decoration:none;
  color:black;
  display:none;
  margin-top:2px;
}

.mselect-opt.selected i {
  text-decoration:none;
  color:black;
  display:block;
}
