.modal-dialog-navbar {
 justify-content: center;
 align-items:center;
 margin-top: 15%;
margin-left: 40%;
text-align: center;

}

.modal-content-navbar {
  width: 300px;
 background-color: rgba(244, 240, 240, 0.500);
  margin-right: 40%;
  margin-top: 10%;
  padding: 5%;
}

.modal-content-filters {
  width: 800px;
  height: 720px;
  background-color: white;
  opacity: 1;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 75px;
  padding: 10px;
  border-radius: 6px;
}

.modal-body-filters {
  height: 600px;
  opacity: 1;
}

.modal-content-heart {
  border-radius: 4px;
  padding: 20px;
  width: 600px;
  max-height: 500px;
  min-height: 400px;
  background-color: white;
  opacity: 1;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 75px;

}

.collection-modal-container {

}

.add-collection {
  width: 100%;
}

#collection_name {
  flex-grow: 1;
}


// MULTISELECTOR

.mselect {
  text-decoration: none;
  text-align: center;
  color:#d1d1d1;
  display: inline-block;
  padding: 4px;
  font-size: 14px;
  height: auto;
  width: 170px;
  background-color: white;
  border-radius: 10px;
  max-height:80px;

}

.mselect-cuisine {
  text-decoration: none;
  text-align: center;
  color:#d1d1d1;
  display: inline-block;
  padding: 4px;
  font-size: 14px;
  height: auto;
  background-color: white;
  border-radius: 10px;
  max-height:80px;

}

.cuisine-list{
  display: flex;
  width: 730px;
  overflow: scroll;
}

.mselect-opt-cuisine{
  width: 100px;
  border: 1px solid #d1d1d1;
  font-weight: lighter;
  color: #d1d1d1;
  border-radius: 10px;
  padding: 9px;
  display:block;
  cursor:pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  &:hover{
    text-decoration: none;
    color: black;
    border: 1px solid black;

  }
}

.mselect-opt-cuisine.selected{
  color:black;
  border: 1px solid black;
}

.mselect-opt {
  border: 1px solid #d1d1d1;
  font-weight: lighter;
  color: #d1d1d1;
  border-radius: 10px;
  padding: 9px;
  display:block;
  cursor:pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  &:hover{
    text-decoration: none;
    color: black;
    border: 1px solid black;

  }
}


.mselect-opt.selected {
  color:black;
  border: 1px solid black;

}

.mselect-opt a{
  text-decoration: none;
  color:black;
}

.mselect-opt i {
  text-decoration:none;
  color:black;
  display:none;
}

.mselect-opt.selected i {
  text-decoration:none;
  color:black;
  display:block;
}

.select2.select2-container.select2-container--default{
  width: 100%;
}

.select2-search__field{
  width:100% !important;
}

.select2-selection.select2-selection--multiple{
  border: 1px solid white;
  padding:5px;
}

.select2-results__option{
  color: #d1d1d1;
  &:hover{
    color:black;
    background-color: #f9f7f7;
  }
}

.select2-selection__choice{
  text-align: center;
  border: 1px solid #d1d1d1;
  font-weight: lighter;
  color: #d1d1d1;
  border-radius: 10px;
  padding: 5px !important;
  background-color: white !important;
  width: 130px !important;
    &:hover{

    }

}

.select2-selection__choice {

}

.select2-container--default.select2-container--focus.select2-selection--multiple{
border: 1px solid #d1d1d1 !important;
border-radius: 10px;
}

.select2-container--default .select2-selection--multiple {
  margin-top: 1%;
  border: 1px solid #d1d1d1 !important;
  }

.select2-container--default .select2-selection--multiple .select2-selection__choice {
border: 1px solid #d1d1d1 !important;
padding: 3px !important;
  &:hover{
    // border: 1px solid black !important;
  }
}

.select2-container--default .select2-results__option--highlighted[aria-selected]{
  background-color: #d1d1d1 !important;
}

// .select2-container--default{
//   border: ;
// }

// .select2-selection--multiple{
//   border: 1px solid #d1d1d1;
// }
