.navbar-mealscope-transparent {
  justify-content: space-between;
}

.navbar-mealscope-transparent .navbar-collapse {
  flex-grow: 0;
}

.navbar-mealscope-transparent .navbar-brand img {
  width: 150px;
}

.nav-item {
  color: white;
  a {
      display: inline;
      color: white !important;
      text-decoration: none;
    }

}



.nav-link{
  color:white;
}
