.searchcontainer{

}

.sinput {
  text-align: center;
  padding: 5px;
  width: 500px;
  // background-color: red;
  border-radius: 10px;
  border: solid 1px #eaeaea;
  height: 40px;
}

.loopicon {
  width: 80px;
  color: white;
  border:none;
  background-color: #eb4a3d;
  border-radius: 10px;
  padding: 5px;
  height: 40px
}
