.search-and-filter{
  width: 440px;
  display: flex;
  font-size: 17px;
  margin-left: -100px;
}

.searchbox {

  width: 200px;
    display: flex;
    // margin-left: 8%;
    inline-size: auto;
}

#filtre {
  // color: #eb4a3d;
}

// .sinput {
//   text-align: left;
//   padding: 5px;
//     margin-right: 10px;
//     width: 450px;
//   border-radius: 10px;
//   border: solid 1px #eaeaea;
//   height: 40px;
// }

.loopicon {
  width: 40px;
  color: #eb4a3d;
  border: transparent;
  margin-left: 0;
    box-shadow: none;
outline: none;
  // background-color: #eb4a3d;
  // border-radius: 10px;
  // padding: 5px;
  height: 40px;
  &:focus {
    outline: none;
        box-shadow: none;
  border: transparent;

      // background-color: #f84e41;
}
}


.addamealbtn a{
  padding: 10px;
  background-color: #eb4a3d;
  text-decoration: none;
  color:white;
  border-radius: 10px;
    &:hover{
      background-color: #f84e41;
    }
}


.addamealbtn {
  margin: 10px;
  padding: 11px;
  background-color: #eb4a3d;
  text-decoration: none;
  color:white;
  border-radius: 10px;
    &:hover{
      background-color: #f84e41;
      text-decoration: none;
      color: white;
    }
}

.nav-text-buttons {
  width: 250px;
  // margin-left: 100px;
  margin-right: -100px;
  color: black;
    a {
      color: black;
    }
    a:hover {
      text-decoration: none;
      color: black;
    }
}
