.container {
  // margin-top: 30px;
  width: 80%;
  margin-bottom: 150px;
}

.hero {
  // background-position: 100%;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 1)), asset_url('meal.jpg');
  background-size: cover;
  background-position: top;
  padding: 100px 0;
  height: 100px;
}

.hero img {
object-fit: cover;
// width: auto;

}

#link-color {
  color: gray;
    &:hover {
      text-decoration: none;
      color: #e26757;
    }
}

.fa .fa-times {
  color: gray !important;
  &:hover {
    text-decoration: none;
    color: #e26757;
  }
}

.hero .title {
  width: 73%;
  margin: 0 auto 0;
}

.back {
  width: 100%;
  margin: 0 auto 0;
}


.hero .title h1 {
  text-transform: uppercase;
  // margin-left: 200px;
  color: #352D39;
}


.grid {
  width: 90%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: minmax(220px, auto);
  grid-gap: 10px;

}


.grid-item {
  grid-column: 1/3;
  grid-row: auto;
  height: auto;
}

.grid-item:nth-child(2) {

}
